/* ---------------------------------Default from Vite-------------------------- */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* ----------------------------------Default from Vite-------------------------- */

.listNames {
  display: flex;
  justify-content: space-between;
}

.listItemContainer {
  background-color: beige;
  color: black;
}

h3 {
  /* width: 70%; */
  margin: 0px;
  background-color: beige;
  color: black;
}

.listTitles {
  /* border: 1px dashed beige;
  padding: 10px; */
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.listTitles:hover,
.trash:hover {
  border-color: #646cff;
}

.trash {
  background-color: black;
  /* width: 30px;
  height: 30px; */
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.trashCan {
  /* transform: scale(0.05); */
  width: 25px;
  height: 25px;
}

.whiteTrash {
  display: flex;
  background-color: beige;
  border: 0px;
  /* width: 10%; */
  align-self: flex-end;
  cursor: pointer;
}

.whiteTrashCan {
  background-color: beige;
  width: 25px;
  height: 25px;
}

.eachItem {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.addItem {
  cursor: pointer;
}
